body {
  visibility: hidden;
}

.addTask {
  display: flex;
  width: calc(100vw -232px);
  padding-top: 96px;
  padding-left: 96px;
  flex-direction: column;
  font-size: 20px;
  height: calc(100vh - 206px);
  overflow-y: scroll;
}

h1 {
  margin: 0;
  font-size: 60px;
  margin-bottom: 48px;
}

.separator {
  height: 424px;
  border: 1px solid var(--blue);
}

input:focus,
textarea:focus {
  outline: none;
}

select {
  padding: 12px 16px;
  border-radius: 10px;
}

textarea {
  height: 120px;
  width: 100%;
  margin: 0;
  border: none;
  resize: none;
  font-size: 20px;
}

.d-flex {
  display: flex;
}

.dropUpImg {
  height: 8px;
  width: 12px;
  margin-right: 16px;
  rotate: 180deg;
}

.inputContainer.invalid {
  border: 1px solid red;
  padding: 12px 21px;
  border-radius: 10px;
}

.categoryDropDown.invalid {
  border: 1px solid red;
  border-radius: 10px;
}

.openedDropDown {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background-color: white;
  margin-top: -35px;
  border-radius: 10px;
  border: 0.5px solid var(--border);

}

#categories {
  position: absolute;
  z-index: 44;
  top: 620px;
  width: 440px;
  background-color: white;
}


#contacts {
  background-color: white;
  height: 280px;
  overflow-y: scroll;
  position: absolute;
  width: 440px;
  margin-top: 80px;
  z-index: 44;
  border-radius: 10px;
  border: 0.5px solid var(--border);
}

#assignedContacts {
  display: flex;
  position: absolute;
  margin-top: 90px;
}

.addSubtask {
  display: flex;
  background-color: white;
  padding: 12px;
  border-radius: 10px;
  border: 0.5px solid var(--border);
  border-bottom: 1px solid var(--blue);
}

.addSubtask img {
  cursor: pointer;
}

#newSubtasks {
  width: 440px;
  position: absolute;
  display: flex;
  flex-direction: column;
  max-height: 80px;
  overflow-y: scroll;
  z-index: 33;
  margin-top: 90px;
  scrollbar-width: none;
}

.vertical-line {
  width: 1px;
  height: 16px;
  background-color: black;
  margin: 0 8px;
}

.signedUp {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  overflow: hidden;
}

li:hover .d-none {
  display: block;
}

.animation {
  animation: slideUp 1.2s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0);
  }
}

#signedUp {
  background-color: var(--gray);
  padding: 15px 24px;
  color: white;
  border-radius: 8px;
  font-size: 21px;
  width: 400px;
  text-align: center;
}

.addTaskLink{
  background-color: #091931;
  color: white !important;
}

#logOut a {
  text-decoration: none;
  padding: 8px 16px;
  color: #cdcdcd
}

#newSubtasks {
  list-style-type: none;
  padding: 0;
}

.subtask-icons {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

@media (max-width: 1450px){
  .addTask{
    padding-left: 50px;
  }
  form{
    gap: 20px !important;
    width: fit-content !important;
  }
  .formLeft, #newSubtasks, #contacts, #categories{
    width: 360px !important;
  }

}

@media (max-width: 1068px){
  .addTask{
    padding-top: 50px;
  }
  .formLeft, #newSubtasks, #contacts, #categories{
    width: 360px !important; 
  }
  .openedDropDown{
    margin-top: -100px;
  }
}

@media (max-width: 850px){
  .addTask{
    overflow-y: scroll;
    scrollbar-width: none;
    align-items: center;
    padding-left: 0px;
  }
  #newSubtasks, #contacts, #assignedContacts {
    position: relative !important;
    margin-top: 0px !important;
  }
  #categories{
    position: relative !important;
    top: 80px;
  }
  .formLeft, #newSubtasks, #contacts, #categories{
    width: 80vw !important; 
  }
  form{
    flex-direction: column;
  }
  .separator{
    display: none;
  }
  .buttonsSection{
    flex-direction: column-reverse;
    margin-top: 30px !important;
    gap: 24px;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
    width: 80vw !important;
    padding-right: 0px !important;
  }
  .buttonArea{
    justify-content: center;
  }
  textarea{
    height: 80px;
  }
  h1{
    margin-bottom: 20px;
    font-size: 48px;
  }
  .clear, .createButton{
    height: 40px !important;
  }
}

@media (max-width: 450px){
  .formLeft, #newSubtasks, #contacts, #categories, .buttonsSection{
    width: 99vw!important; 
  }
  .prioButton{
    padding: 8px 8px !important;
    width: fit-content !important;
  }
}

@media (min-width: 1160px) {
    .addTask{
      overflow-y: scroll;
      padding-bottom: 20px;
    }
    .buttonsSection{
      margin-top: 40px !important;
    }
}
@media (max-height:840px){
  .addTask{
    height: calc(100vh - 126px);
    overflow-y: scroll;
    padding-top: 20px;
  }
  #categories{
    top: 540px
  }
}


@media (max-height:745px) {
  .addTask{
    overflow-y: scroll;
    scrollbar-width: none;
    align-items: center;
    padding-left: 0px;
  }
  #newSubtasks, #contacts {
    position: relative !important;
    margin-top: 0px !important;
  }
  #categories{
    position: relative !important;
    top: 80px;
  }
  .formLeft, #newSubtasks, #contacts, #categories{
    width: 99vw !important; 
  }
  form{
    flex-direction: column;
  }
  .separator{
    display: none;
  }
  .buttonsSection{
    flex-direction: column-reverse;
    margin-top: 30px !important;
    gap: 24px;
    margin-top: 0px !important;
    margin-bottom: 70px !important;
    width: 99vw !important; 
    padding-right: 0px !important;
  }
  .buttonArea{
    justify-content: center;
  }
  textarea{
    height: 80px;
  }
  h1{
    margin-bottom: 20px;
    font-size: 48px;
  }
  .clear, .createButton{
    height: 40px !important; 
  }
}