.addTask{
  background-color: var(--background);
  padding: 40px;
  border-radius: 40px;
  height: fit-content;
  width: fit-content;
}


.boardAddTaskTitle{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.boardAddTaskTitle img{
  width: 20px;
  height: 20px;
}
.boardAddTaskTitle img:hover{
  cursor: pointer;
  scale: 1.1;
  background-color: var(--border);
  border-radius: 10px;
}

.addTask input{
  border: none;
}
.addTask textarea{
  border: none;
  padding: 0;
}

/* Define the animation */
@keyframes slideInFromLeft {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

/* Define the animation class */
.slide-in {
  animation: slideInFromLeft 0.3s ease-out forwards;
}
.addTaskLink{
  background-color: var(--gray);
  color: white !important;
}

form {
  display: flex;
  gap: 48px;
}

.formLeft {
  display: flex;
  flex-direction: column;
  width: 440px;
  gap: 16px;
}

input {
  font-size: 20px;
  line-height: 24px;
  width: 100%;
  border: none;
}
.eachInput {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.eachInput img{
  cursor: pointer;
}
p {
  display: flex;
  align-items: center;
  margin: 0;
  border-radius: 10px;
  border: 1px solid var(--border);
  padding: 12px 21px;
  background-color: white;
}
p:hover {
  border: 1px solid var(--blue);
}

.categoryDropDown{
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 12px;
  font-size: 20px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--border);
}

.buttonsSection {
  margin-top: 90px;
  justify-content: space-between;
  padding-right: 133px ;
}
.buttonArea {
  display: flex;
  align-items: center;
  gap: 16px;
}
.buttonCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 16px;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}
.prioArea {
  display: flex;
  justify-content: space-between;
}
.prioButton {
  width: 136px;
  border-radius: 10px;
  padding: 16px 10px;
  gap: 8px;
  font-size: 20px;
  border: 1px solid var(--border);
  background-color: white;
}
.prioButton:hover {
  cursor: pointer;
}
.clear {
  border: 1px solid black;
  color: black;
  border-radius: 10px;
  height: 56px;
  font-weight: 500;
}
.clear img {
  display: block;
  transition: opacity 0.125s ease;
}
.clear:hover {
  border: 1px solid var(--blue);
  color: var(--blue);
  transition: 125ms;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
}
.clear:hover img {
  content: url("/assets/img/png/iconoir_cancel_hover.png");
}

.createButton{
  background-color: var(--gray);
  border-radius: 10px;
  gap: 8px;
  font-size: 20px;
  height: 56px;
  color: white;
}
.createButton:hover{
  background-color: var(--blue);
  transition: 125ms;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
}


#categories{
  top: 440px;
  position: absolute;
  z-index: 44;
  width: 440px;
  background-color: white;
  
}

.openedDropDown{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background-color: white;
  margin-top: -20px;
  border-radius: 10px;
}
.spanHover{
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  padding-left: 10px;
  border-radius: 10px;
  width: 100%;
}
.spanHover:hover{
  background-color: var(--background);
  cursor: pointer;
}

select:hover{
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.categoryDropDown{
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 12px;
  font-size: 20px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--border);
}
.dropDownImg{
  height: 8px;
  width: 12;
  margin-right: 16px;
  
}
.dropUpImg{
  height: 8px;
  width: 12px;
  margin-right: 16px;
 
}
.categoryOption{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.categoryDropDown:hover{
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.spanCategory{
  width: 100%;
}
.hover-shadow {
  transition: box-shadow 0.125s;
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.urgent{
  background-color: var(--high);
}
.medium {
  background-color: var(--medium);
}
.low{
  background-color: var(--low);
}

.contacts{
  background-color: white;
  height: 200px;
  overflow-y: scroll;
  position: absolute;
  width: 440px;
  margin-top: 80px;
  z-index: 44;
}
.contactsOpen{
  display: flex;
  gap:20px;
  padding: 8px 12px;
  background-color: white;
  border-radius: 10px;
  border: 0.5px solid white
}

.contactsOpen:hover{
  background-color: var(--background);
  cursor: pointer;
  border: 1px solid var(--border);
}
.contactName{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}

.contactName input{
  width: 30px;
  justify-self: flex-end;
}

.contactInitials{
  width: 24px;
  height: 24px;
  padding: 6px;
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  border: 1px white solid;
  font-size: 16px;
}

.selected {
  border: 0.5px solid white; 
  background-color: var(--gray); 
  color: white;
}
.selected:hover{
  background-color: #091931;
  
}
.assignedContacts{
  display: flex;
  position: absolute;
  margin-top: 90px;
}

.selected img{
  content: url('/assets/img/png/whiteBox.png');
}


.addSubtask{
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 0.5px solid var(--border);
  width: 440px;
}

.addSubtask img{
  cursor: pointer; 
}

.error-placeholder::placeholder {
  color: red;
}

#newSubtasksAddTask{
  width: 440px;
  position: absolute;
  display: flex;
  flex-direction: column;
  max-height: 80px;
  overflow-y: scroll;
  z-index: 33;
  margin-top: 90px;
  scrollbar-width: none;
  list-style-type: none; /* Standard-Punkt entfernen */
  padding: 0; /* Standard-Padding entfernen */
}

.vertical-line {
  width: 1px;
  height: 16px; /* Höhe des Strichs */
  background-color: black; /* Farbe des Strichs */
  margin: 0 8px; /* Abstand zu den Icons */
}
.subTaskStyle {
  display: flex;
}
.borderLeft {
  border-left: 1px;
}
.subtaskIconsAddTask {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-right: 12px; /* Linker Abstand des Icons-Containers */
}
.subtask-content {
  display: flex;
  align-items: center;
  width: 100%;
}
.subtask-item {
  display: flex;
  justify-content: space-between; /* Platzierung der Inhalte mit Abstand */
  align-items: center;
  height: 32px;
  width: 100%;
}

.custom-bullet {
  margin-right: 8px; /* Abstand zwischen Punkt und Text */
  margin-left: 16px;
}


li:hover .subtask-item {
  background-color: #D1D1D1;
  border-radius: 6px;
  cursor: pointer;
}
.inputContainer.invalid {
  border: 2px solid red;
  padding: 12px 21px;
  border-radius: 10px; 
}
.categoryDropDown.invalid {
  border: 2px solid red;
  border-radius: 10px; 
}


.d-none {
  display: none;
}
