.dragMobile{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 120px;
  margin-left: 25px;
  background-color: var(--gray);
  width: fit-content;
  box-sizing: border-box;
  padding: 10px;
  color: white;
  gap: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
}
.dragMobile div{
  box-sizing: border-box;
}

.dragMobile div:hover{
  background-color: white;
  color: var(--gray);
  border-radius: 5px;
  
}

@media(min-width:1440px){
  .dragMobile{
    margin-left: 50px;
  }
}

@media (max-width:1440px){
  .taskArea{
    padding: 0px 30px;
    scrollbar-width: none;
  }
  .dragMobile{
    margin-left: 0px;
  }
  .taskColumn{
    width: 200px;
    height: 100%;
  }
  .contentHeader{
    width: calc(100vw - 300px);
  }
  .subtaskProgressText{
    width: fit-content;
  }
  .listsHeaders{
    padding: 0px 20px 0px 20px;
  }
  .listheader{
    width: 200px;
  }
  .noTask{
    text-align: center;
  }
}

@media (max-width: 1170px){
  header {
    height: 80px;
    width: 100vw;
    padding: 20px 40px 20px 40px;
  }

  .content-sidebar{
    width: 100%;
  }
  aside {
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-between;
    z-index: 15;
  }

  .logo-sidebar {
    display: none;
  }

  .credit-box {
    display: none;
  }

  .icon-bar {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    color: #cdcdcd;
    justify-content: space-around;
    padding: 0;
    gap: 0px;
  }

  .box-icons {
    padding: 0;
    width: 80px;
    flex-direction: column;
    justify-content: center;
    height: 76px;
    display: flex;
    align-items: center;
  }
  .box-icons svg{
    width: 24px;
    height: 24px;
  }
  .contentHeader{
  width: calc(100vw - 90px);
  padding: 30px 0px 30px 30px;
}
  .boardContent {
  height: calc(100vh - 160px);
  }
  .taskArea{
    overflow-y: scroll;
    height: calc(100vh - 300px);
  }
}

@media (max-width: 940px){
  .taskArea{
    flex-direction: column;
  }
  .dragMobile{
    margin-left: 25px;
  }
  .taskColumn{
    flex-direction: row;
    width: calc(100vw - 60px);
    gap: 10px;
    overflow-x: scroll;
  }
  .listsHeaders{
    flex-direction: column;
  }
  .taskCard{
    max-width: 220px;
    min-width: 220px;
  }
  .column{
    align-items: flex-start;
  }
}

@media (max-width: 800px){
  .taskColumn{
    width: calc(100vw - 30px);
  }
  .taskArea{
    padding: 0px 15px;
    height: calc(100vh - 320px);
  }
  .contentHeader{
    display: none;
  }
  .contentHeaderMobile{
    display: flex;
    flex-direction: column;
  }
  .addMobile{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
 
  .addMobile h1{
    font-size: 46px;
  }
  .addMobile button{
    border: none;
    background-color: var(--gray);
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
  }
  .addMobile button:hover{
    background-color: var(--blue);
    cursor: pointer;
    transition: 125ms;
  }
  .inputarea{
    justify-content: center;
    padding-bottom: 30px;
  }
  .inputarea .input{
    width: 90vw;
    padding: 0px;
  }
}

@media (max-height:800px){
  
  .addMobile{
    padding: 10px 20px;
  }

  .addMobile h1, .contentHeader h1{
    font-size: 36px;
  }
  .inputarea, .inputarea .input{
    padding-bottom: 10px;
  }
  .taskArea{
    height: calc(100vh - 240px);
  }
  .inputarea .input{
    padding: 0px;
  }
  .inputarea input{
    padding: 0px 10px;
  }
  .inputarea button{
    padding: 0px 10px;
  }
  .contentHeader{
    padding: 20px 20px;
  }
}

.d-none{
  display: none;
}
