body {
  margin: 0px;
}

.d-flex {
  display: flex;
}

.content {
  background-color: var(--background);
}

.contact-box {
  width: 456px;
  height: 928px;
  background-color: white;
  box-shadow: 1px 0px 4px 0px #0000001a;
}

.add-contact {
    display: flex;
    width: 255px;
    height: 56px;
    padding: 12px 16px 12px 16px;
    gap: 16px;
    border-radius: 10px 10px 10px 10px;
    align-items: center;
    justify-content: center;
}
