header {
  font-size: 20px !important;
  font-family: "inter", Arial, sans-serif;
  display: flex;
  width: calc(100vw - 232px);
  height: 96px;
  padding: 20px 40px 20px 116px;
  gap: 0px;
  justify-content: space-between;
  box-shadow: 0px 4px 4px 0px #0000001a;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
}

.help {
  width: 32px;
  height: 32px;
}

.help:hover {
  scale: 1.3;
  transition: 125ms;
}


.user-profile-initials-box {
  font-weight: 600;
  display: flex;
  width: 48px;
  height: 48px;
  gap: 16px;
  border: 3px solid #2a3647;
  border-radius: 559px;
  align-items: center;
  justify-content: center;
  color: #29abe2;
}

.user-profile-initials-box:hover {
  background-color: var(--background);
  cursor: pointer;
}

.icon-box {
  width: 104px;
  height: 56px;
  gap: 16px;
  display: flex;
  align-items: center;
}

#headerLogo img{
  width: 32px;
  height: 40px;
}

.logOut {
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  padding: 15px 10px;
  gap: 10px;
  border-radius: 20px 0px 20px 20px;
  position: absolute;
  top: 70px;
  left: calc(100vw - 260px);
  z-index: 999;
}


#logOut a {
  text-decoration: none;
  padding: 8px 16px;
  color: #cdcdcd
}

.d-none {
  display: none;
}

#logOut a:hover {
  background-color: #2a3d59;
}

@media screen and (max-width: 1068px) {
  header {
    height: 80px;
    width: 100vw;
    padding: 20px 40px 20px 40px;
  }
  .logOut{
    top: 60px;
  }
  
}
@media screen and (max-width: 600px) {
  header {
    width: 100vw;
    padding: 20px 20px 20px 20px;
  }
  .logOut{
    left: calc(100vw - 240px);
  }
}
