body {
  margin: 0px;
  visibility: hidden;
}

.d-flex {
  display: flex;
}

.content-policy{
  overflow: hidden;
  width: 1016px;
  height: 82vh;
  overflow: scroll;
  margin-top: 110px;
  margin-left: 96px;
}

.content-policy::-webkit-scrollbar{
  display: none;
}

h1{
  margin-top: 0;
  font-size: 61px;
  font-weight: 700;
}





