.custom-bullet {
    margin-right: 8px;
    /* Abstand zwischen Punkt und Text */
    margin-left: 16px;
}

form {
    display: flex;
    gap: 48px;
}



.formLeft {
    display: flex;
    flex-direction: column;
    width: 440px;
    gap: 16px;
}

input {
    font-size: 20px;
    width: 100%;
    border: none;
    cursor: pointer;
}

.eachInput {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.eachInput img {
    cursor: pointer;
}

p {
    display: flex;
    align-items: center;
    margin: 0;
    border-radius: 10px;
    border: 1px solid var(--border);
    padding: 12px 21px;
    background-color: white;
}

p:hover {
    border: 1px solid var(--blue);
}

.buttonCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 16px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}

.buttonsSection {
    max-width: 1000px;
    margin-top: 90px;
    justify-content: space-between;
    padding-right: 133px;
}

.buttonArea {
    display: flex;
    align-items: center;
    gap: 16px;
}

.prioArea {
    display: flex;
    justify-content: space-between;
}



.prioButton {
    width: 136px;
    border-radius: 10px;
    padding: 16px 10px;
    gap: 8px;
    font-size: 20px;
    border: 1px solid var(--border);
    background-color: white;
}

.prioButton:hover {
    cursor: pointer;
}

.clear {
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    height: 56px;
    font-weight: 500;
}

.clear img {
    display: block;
    transition: opacity 0.125s ease;
}

select:hover {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.clear:hover {
    border: 1px solid var(--blue);
    color: var(--blue);
    transition: 125ms;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

.clear:hover img {
    content: url("../assets/img/png/iconoir_cancel_hover.png");
}

.createButton {
    background-color: var(--gray);
    border-radius: 10px;
    gap: 8px;
    font-size: 20px;
    height: 56px;
    color: white;
}

.createButton:hover {
    background-color: var(--blue);
    transition: 125ms;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

.spanHover {
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 10px;
    width: 100%;
}

.spanHover:hover {
    background-color: var(--background);
    cursor: pointer;
}

.categoryDropDown {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 12px;
    font-size: 20px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--border);
}

.dropDownImg {
    height: 8px;
    width: 12px;
    margin-right: 16px;
}

.categoryOption {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.categoryDropDown:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.spanCategory {
    width: 100%;
}

.hover-shadow {
    transition: box-shadow 0.125s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.urgent {
    background-color: var(--high);
}

.medium {
    background-color: var(--medium);
}

.low {
    background-color: var(--low);
}

.contactsOpen {
    display: flex;
    gap: 20px;
    padding: 8px 12px;
    background-color: white;
    border-radius: 10px;
    border: 0.5px solid white
}

.contactsOpen:hover {
    background-color: var(--background);
    cursor: pointer;
    border: 1px solid var(--border);
}

.contactInitials {
    width: 24px;
    height: 24px;
    padding: 6px;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    border: 1px white solid;
    font-size: 16px;
}

.contactName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contactName input {
    width: 30px;
    justify-self: flex-end;
}

.vertical-line {
    width: 1px;
    height: 16px;
    background-color: black;
    margin: 0 8px;
}

.selected {
    background-color: var(--gray);
    color: white;
}

.selected:hover {
    background-color: #091931;
}

.selected img {
    content: url('../assets/img/png/whiteBox.png');
}

.subTaskStyle {
    display: flex;
}

.error-placeholder::placeholder {
    color: red;
}

li:hover .subtask-item {
    background-color: #D1D1D1;
    border-radius: 6px;
    cursor: pointer;
}

.subtask-content {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.borderLeft {
    border-left: 1px;
}

.subtask-item {
    display: flex;
    justify-content: space-between;
    /* Platzierung der Inhalte mit Abstand */
    align-items: center;
    min-height: 32px;
    width: 100%;
}

.d-none {
    display: none;
}