@font-face {
  font-family: "inter";
  src: url("./assets/fonts/static/Inter-Black.ttf") format("interBlack"),
    url("./assets/fonts/static/Inter-Bold.ttf") format("interBold");
}

aside {
  display: flex;
  width: 232px;
  height: 100vh;
   background-color: #2a3647;
  flex-direction: column;
  align-items: center;
  font-family: "inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.logo-sidebar {
  width: 100.03px;
  height: 121.97px;
  padding: 64px 0px 64px 0px;
}

.content-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.icon-bar {
  height: 229px;
  padding: 64px 0px 64px 0px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  color: #cdcdcd;
}

.icon-bar a {
  text-decoration: none;
  color: #cdcdcd;
}

.box-icons {
  width: 232px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 46px;
  padding: 8px 56px 8px 56px;
  box-sizing: border-box;
}

.link-sidebar:hover {
  cursor: pointer;
  background-color: #2a3d59;
}

.link-sidebar:active {
  background-color: #091931;
  color: white;
}

.link-sidebar.active {
  background-color: #091931;
  color: white;
}

.credit-box {
  display: flex;
  height: 100px;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  gap: 8px;
}

.link-credits {
  text-decoration: none;
  color: #a8a8a8;
}

.link-credits:hover {
  font-weight: 700;
  cursor: pointer;
  color: #29abe2;
}


.credit {
  display: flex;
  box-sizing: border-box;
  width: 232px;
  height: 35px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1068px) {
  .content-sidebar{
    width: 100%;
  }
  aside {
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-between;
    z-index: 80;
  }

  .logo-sidebar {
    display: none;
  }

  .credit-box {
    display: none;
  }

  .icon-bar {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    color: #cdcdcd;
    justify-content: space-around;
    padding: 0;
    gap: 0px;
  }

  .box-icons {
    padding: 0;
    width: 80px;
    flex-direction: column;
    justify-content: center;
    height: 76px;
    display: flex;
    align-items: center;
  }
  .box-icons svg{
    width: 24px;
    height: 24px;
  }
 
}

@media screen and (max-width: 600px){
  .icon-bar{
    justify-content: space-between;
  }
}