.tasksInProgress:hover {
    background-color: #2A3647;
    color: white;
    transition: transform 0.3s ease;
    transform: scale(1.05);
}

.awaitingFeedback {
    background-color: white;
    width: 158px;
    height: 168px;
    border-radius: 12px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 13px;
    border-radius: 30px;
}

.awaitingFeedback:hover {
    background-color: #2A3647;
    color: white;
    transition: transform 0.3s ease;
    transform: scale(1.05);
}

.taskFontSize {
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
    display: flex;
    align-items: center;
}

.taskFontSizeLower {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.tasksCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.urgent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.column {
    flex-direction: column;
}

.justifyCenter {
    justify-content: center;
}

.toDoRed {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: #FF3D00;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.seperatorDate {
    height: 102.02px;
    width: 2px;
    background-color: #D1D1D1;
    gap: 13px;
}

.date {
    display: flex;
    width: 178px;
    height: 25px;
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
    color: #2A3647;
}

.date:hover {
    color: white;
}

.dateUp {
    width: 178px;
    height: 57px;
    gap: 13px;
}

.upcoming {
    display: flex;
    width: 148px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #2A3647;
}

.linkNone {
    color: inherit;
    text-decoration: none;
}

.hover-effect:hover .urgentDate,
.hover-effect:hover .urgent,
.hover-effect:hover .column,
.hover-effect:hover .seperatorDate,
.hover-effect:hover .dateUp,
.hover-effect:hover .date,
.hover-effect:hover .upcoming {
    color: white;
}

.toDo,
.done {
    background-color: white;
    width: 264px;
    height: 168px;
    border-radius: 12px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    transition: transform 0.125s ease, background-color 0.125s ease, box-shadow 0.125s ease;
}

.toDo:hover,
.done:hover {
    background-color: #2A3647;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toDo1,
.done1 {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.125s ease;
}

.toDo:hover .toDo1,
.done:hover .done1 {
    background-color: white;
}

.toDo1 img,
.done1 img {
    width: 32px;
    height: 32px;
    transition: opacity 0.125s ease;
}

.toDo1 img.hover,
.done1 img.hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.toDo:hover .toDo1 img.default,
.done:hover .done1 img.default {
    opacity: 0;
}

.toDo:hover .toDo1 img.hover,
.done:hover .done1 img.hover {
    opacity: 1;
}