:root {
  --blue:   #29ABE2;
  --gray:  #2A3647;
  --high : #FF3D00;
  --medium: #FFA800;
  --low:   #7AE229;
  --technical : #1FD7C1;
  --story : #0038FF;
  --noTask : #A8A8A8;
  --policy : #A8A8A8;
  --background : #F6F7F8;
  --hightlight : #091931;
  --border : #D1D1D1;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}

html{
  background-color: var(--background);
  overflow-y: hidden;
}

body{
  margin: 0px;
  font-family: "inter", Arial, sans-serif;
}
.invalid {
  border: 1px solid red;
  border-radius: 10px;
}
@font-face {
  font-family: "inter";
  src: url("./assets/fonts/static/Inter-Black.ttf") format("interBlack"),
    url("./assets/fonts/static/Inter-Bold.ttf") format("interBold");
}

input:focus,
textarea:focus {
  outline: none;
}


.d-none {
  display: none;
}