<header>
  <div id="headerLogo"><span >Kanban Project Management Tool</span></div>
  <div class="icon-box">
    <a href="help.html"><img class="help" src="assets/img/png/help.png" alt="help" /></a>

    <div id="user-profile-initials" class="user-profile-initials-box" >{$}</div>
  </div>
  <div id="logOut" class="d-none logOut">
    <a href="legal_notice.html">Legal Notice</a>
    <a href="privacy_policy.html">Privacy Policy</a>
    <a onclick="logout()" href="index.html">Log Out</a>
  </div>
</header>

  
